@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../../font/noto-sans/NotoSans-Bold.woff') format('woff'),
  url('../../font/noto-sans/NotoSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-SemiBold';
  src: url('../../font/noto-sans/NotoSans-SemiBold.woff') format('woff'),
  url('../../font/noto-sans/NotoSans-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Light';
  src: url('../../font/noto-sans/NotoSans-Light.woff') format('woff'),
  url('../../font/noto-sans/NotoSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Medium';
  src: url('../../font/noto-sans/NotoSans-Medium.woff') format('woff'),
  url('../../font/noto-sans/NotoSans-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../../font/noto-sans/NotoSans-Regular.woff') format('woff'),
  url('../../font/noto-sans/NotoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

