@import "../utils/variables";
@import "../utils/mixin";

.w-100 {
  width: 100%;
}

.text-muted {
  color: $color-secondary-200 !important;
}

.container-body {
  padding: 0 28px;

  @include breakpoint($desktop-lg) {
    padding: 0;
  }
}

.text-white {
  color: $color-primary-200;
}

.text-light {
  color: $color-secondary-100 !important;
}

.pl-sm-10 {
  @include breakpoint($mobile) {
    padding-left: 10px;
  }
}

.max-width-295 {
  max-width: 295px !important;
}