@import "../utils/variables";
@import "../utils/mixin";

.card {
  width: 100%;
  box-shadow: 0 0 18px rgba(68, 68, 68, 0.09);
  border-radius: 0;
  background: $color-secondary-500;
  border: none;

  @include breakpoint($mobile) {
    max-width: 340px;
  }
}

.card-body {
  padding: 21px 21px 2px;

  @include breakpoint($desktop-lg) {
    padding: 21px 15px 2px;
  }

  @include breakpoint($tablet) {
    padding: 21px 8px 2px;
  }
}

.card-text {
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 5;

  @include breakpoint($tablet) {
    font-size: $font-size-base;
  }

  @include breakpoint($mobile) {
    line-height: $line-height-base - 1;
  }

  > span {
    font-family: $poppins-font;
    font-weight: $font-weight-400;
  }
}

.card-link {
  font-family: $base-font-family;
  line-height: $line-height-base + 2;
  color: $color-primary-100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include breakpoint($mobile) {
    line-height: $line-height-base - 2 ;
  }

  &:hover {
    text-decoration: underline;
    color: $color-primary-100;
  }
}

.list-group {
  display: flex;
  flex-direction: row;
  padding: 10px 13px;

  @include breakpoint($desktop-lg) {
    padding: 10px 7px;
  }

  @include breakpoint($tablet) {
    padding: 10px 0;
  }
}

.card {
  > .list-group {
    border: none;
  }
}

.list-group-flush{
  >.list-group-item {
    border-width: 0 1px 0;
  }
}

.list-group-item {
  font-family: $font-family-noto-light;
  font-size: $font-size-base - 1;
  line-height: $line-height-base - 1;
  padding: 0 8px;

  @include breakpoint($tablet) {
    font-size: $font-size-base - 3;
  }

  @include breakpoint($mobile) {
    font-size: $font-size-base - 1;
  }

  &:first-child {
    border-width: 0;
  }

  &:last-child {
    border-width: 0;
  }
}

.card-price {
  font-family: $font-family-noto-medium;
  font-weight: $font-weight-500;
  font-size: $font-size-base + 5;
  line-height: $line-height-base + 7;

  @include breakpoint($tablet) {
    font-size: $font-size-base + 4;
    line-height: $line-height-base + 4;
  }
}

.card-footer {
  background: $color-secondary-500;
  padding: 15px 21px 35px;

  @include breakpoint($desktop-lg) {
    padding: 15px 15px 35px;
  }

  @include breakpoint($tablet) {
    padding: 10px 8px 21px;
  }
}

.banner {
  display: flex;
  align-items: center;
  background-image: url("../images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 90px 0;
  margin-bottom: 100px;

  @include breakpoint($tablet) {
    min-height: 500px;
    padding: 60px 0;
    margin-bottom: 40px;
  }

  @include breakpoint($mobile) {
    padding: 55px 0 10px;
    min-height: 420px;
    margin-bottom: 25px;
  }
}

.banner-content {
  > h1 {
    margin-bottom: 32px;

    @include breakpoint($tablet) {
      margin-bottom: 15px;
    }
  }
}

.text {
  color: $color-primary-200;

  @include breakpoint($mobile) {
    font-size: $font-size-base - 4;
  }
}

.row-content {
  margin-bottom: 70px;

  @include breakpoint($tablet) {
    margin-bottom: 40px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 20px;
  }
}

.current-wrap {
  > h2 {
    margin-bottom: 75px;

    @include breakpoint($tablet) {
      margin-bottom: 25px;
    }

    @include breakpoint($mobile) {
      margin-bottom: 12px;
    }
  }
}

.filter-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;

  @include breakpoint($tablet) {
    flex-direction: column;
  }

  @include breakpoint($mobile) {
    display: none;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 10;
    margin-bottom: 0;
    padding: 20px 0;
    border-radius: 15px;
  }

  .btn-holder {
    @include breakpoint($mobile) {
      padding: 0 5px;
    }
  }

  &.show-filter {
    @include breakpoint($mobile) {
      display: flex;
    }
  }
}

.filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 -10px;

  @include breakpoint($desktop) {
    margin: 0 -5px;
  }

  @include breakpoint($tablet) {
    margin: 0 -5px;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  li {
    padding: 0 10px;
    width: 20%;

    @include breakpoint($desktop) {
      padding: 0 5px;
    }

    @include breakpoint($tablet) {
      padding: 0 5px;
      margin-bottom: 5px;
    }

    @include breakpoint($mobile) {
      width: 50%;
    }
  }
}

.btn-holder {
  max-width: 290px;
  width: 100%;
  margin-left: 20px;

  @include breakpoint($desktop-lg) {
    max-width: 250px;
  }

  @include breakpoint($desktop) {
    max-width: 210px;
  }

  @include breakpoint($tablet) {
    max-width: 230px;
  }

  @include breakpoint($mobile) {
    max-width: 100%;
    margin-left: 0;
  }
}

.catalog {
  margin-bottom: 120px;

  @include breakpoint($tablet) {
    margin-bottom: 80px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 25px;
  }
}

.row-checked-wrap {
  margin-bottom: 15px;
}

.badge {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 15px 15px 0;
  font-family: $poppins-font;
  font-size: $font-size-base - 3;
  line-height: $line-height-base - 4;
  padding: 4px 20px;
  font-weight: $font-weight-400;
}

.application-wrap {
  padding: 43px 0;
  margin-bottom: 120px;

  @include breakpoint($tablet) {
    margin-bottom: 80px;
  }

  @include breakpoint($mobile) {
    padding: 24px 0 26px;
    margin-bottom: 25px;
  }
}

.application-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.application-text {
  color: $color-primary-200;
  padding-right: 30px;

  @include breakpoint($tablet) {
    padding-right: 0;
  }

  @include breakpoint($mobile) {
    margin-bottom: 8px;
  }

  h4 {
    margin-bottom: 18px;

    @include breakpoint($mobile) {
      margin-bottom: 8px;
    }
  }
}

.application-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($tablet) {
    flex-direction: column;
  }

  .btn-holder {
    max-width: 190px;

    @include breakpoint($tablet) {
      max-width: 100%;
      margin-left: 0;
    }
  }

  form {
    max-width: 505px;
    width: 100%;

    @include breakpoint($tablet) {
      margin-bottom: 10px;
      max-width: 100%;
    }
  }

  input {
    height: 55px;
    background: $transparent;
  }
}

.faq {
  margin-bottom: 200px;

  @include breakpoint($tablet) {
    margin-bottom: 80px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 25px;
  }
}

.faq-content {
  > h2 {
    margin-bottom: 57px;

    @include breakpoint($tablet) {
      margin-bottom: 27px;
    }

    @include breakpoint($mobile) {
      margin-bottom: 12px;
    }
  }
}

.card-img-top {
  border-radius: 0;
}

.img-area {
  img {
    display: flex;
  }
}






