@import "../utils/variables";
@import "../utils/mixin";

.card {
  max-width: 295px;
  width: 100%;
  box-shadow: 0 0 18px rgba(68, 68, 68, 0.09);
  border-radius: 0;
  background: $color-secondary-500;
  border: none;
}

.card-body {
  padding: 21px 21px 5px;
}

.card-text {
  font-family: $poppins-font;
  font-size: $font-size-base - 3;
  line-height: $line-height-base + 2;
}

.card-link {
  font-family: $base-font-family;
  line-height: $line-height-base;
  color: $color-primary-100;

  &:hover {
    text-decoration: underline;
    color: $color-primary-100;
  }
}

.list-group {
  display: flex;
  flex-direction: row;
  padding: 10px 13px;
}

.card {
  > .list-group {
    border: none;
  }
}

.list-group-flush{
  >.list-group-item {
    border-width: 0 1px 0;
  }
}

.list-group-item {
  font-family: $font-family-noto-light;
  font-size: $font-size-base - 6;
  line-height: $line-height-base - 5;
  padding: 0 8px;

  &:first-child {
    border-width: 0;
  }

  &:last-child {
    border-width: 0;
  }
}

.card-price {
  font-family: $font-family-noto-medium;
  font-weight: $font-weight-500;
  line-height: $line-height-base + 3;
}

.card-footer {
  background: $color-secondary-500;
  padding: 15px 21px 35px;
}

.banner {
  display: flex;
  align-items: center;
  background-image: url("../images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 90px 0;
  margin-bottom: 50px;
}

.banner-content {
  > h1 {
    margin-bottom: 32px;
  }
}

.text {
  font-size: $font-size-base - 5;
  line-height: $line-height-base - 3;
  color: $color-primary-200;
}

.row-content {
  margin-bottom: 70px;
}

.current-wrap {
  > h2 {
    margin-bottom: 75px;
  }
}

.filter-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  li {
    width: 100%;
  }
}

.btn-holder {
  max-width: 290px;
  width: 100%;
}

.catalog {
  margin-bottom: 120px;
}

.row-checked-wrap {
  margin-bottom: 6px;
}

.badge {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 15px 15px 0;
  font-family: $poppins-font;
  font-size: $font-size-base - 8;
  line-height: $line-height-base - 6;
  padding: 4px 20px;
  font-weight: $font-weight-400;
}

.application-wrap {
  padding: 43px 0;
  margin-bottom: 120px;
}

.application-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.application-text {
  color: $color-primary-200;

  h4 {
    margin-bottom: 18px;
  }

  p {
    font-size: $font-size-base - 5;
    line-height: $line-height-base - 3;
  }
}

.application-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn-holder {
    max-width: 190px;
  }

  form {
    max-width: 505px;
    width: 100%;
  }

  input {
    height: 55px;
    background: $transparent;
  }
}

.faq {
  margin-bottom: 200px;

  > h2 {
    margin-bottom: 63px;
  }
}