@import "../utils/variables";
@import "../utils/mixin";

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 11px 0;
}

.container-fluid {
  padding: 0;
}

.logo {
  display: block;

  @include breakpoint($desktop-lg) {
    max-width: 185px;
  }

  @include breakpoint($tablet) {
    max-width: 185px;
  }

  img {
    display: flex;
  }
}

.navbar {
  padding: 0;
  min-width: 100%;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  flex-grow: initial;
  max-width: 1000px;
  width: 100%;

  @include breakpoint($tablet) {
    flex-direction: column;
    justify-content: center;
    background: $color-secondary-200;
    border-radius: 15px;
    padding: 10px;
  }
}

.navbar-nav {
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;

  @include breakpoint($tablet) {
    margin-bottom: 10px;
    max-width: 240px;
  }

  .active {
    &:after {
      width: 100%;
    }
  }
}

.nav-item {
  @include breakpoint($tablet) {
    margin: 0 !important;
    text-align: center;
  }
}

.navbar-expand-lg,
.navbar-nav,
.nav-link {
  padding: 5px 0 !important;
}

.nav-link {
  font-family: $font-family-noto-medium;
  color: $color-primary-200 !important;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background: $color-primary-200;
    transition: width 0.25s linear;
  }

  &:hover {
    color: $color-secondary-500;

    &:after {
      width: 100%;
    }
  }
}

.navbar-icons {
  display: flex;
  align-items: center;

  a {
    display: block;

    &:hover {
      i {
        transform: scale3d(1.1, 1.1, 0.2);
      }
    }
  }
  
  i {
    color: $color-primary-200;
    font-size: $font-size-base + 6;
  }

  li {
    @include breakpoint($tablet) {
      margin: 0 10px !important;
    }
  }
}

.navbar-light {
  .navbar-toggler {
    border: none;
  }

  i {
    font-size: $font-size-base + 5;
    color: $color-primary-200;
  }

  .icon {
    font-size: $font-size-base + 12;

    &:first-child {
      display: block;
    }

    &:last-child {
      display: none;
    }
  }
}

.navbar-toggler[aria-expanded="true"] {
  .icon {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: block;
    }
  }
}