@import "../utils/variables";
@import "../utils/mixin";

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 990px;
  width: 100%;

  @include breakpoint($mobile) {
    position: fixed;
    top: 0;
    right: -200%;
    transition: all .25s ease;
    max-width: 100%;
    min-height: 100%;
    background: $color-secondary-500;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    overflow: scroll;
    display: flex;
    padding: 60px 30px;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  @include breakpoint($mobile) {
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
  }
}

.menu-item {
  margin-left: 40px;

  @include breakpoint($tablet) {
    margin-left: 20px;
  }

  @include breakpoint($mobile) {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

.menu-link {
  display: block;
  font-family: $font-family-noto-medium;
  color: $color-primary-200;
  position: relative;

  @include breakpoint($mobile) {
    padding: 10px;
    color: $color-primary-100;
  }

  &:after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background: $color-primary-200;
    transition: width 0.25s linear;
  }

  &:hover {
    color: $color-secondary-500;

    &:after {
      width: 100%;
    }
  }

  &.active {
    &:after {
      width: 100%;
    }
  }
}

.social-network {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: 40px;
  min-width: 65px;

  @include breakpoint($tablet) {
    min-width: 80px;
    margin-left: 10px;
  }

  @include breakpoint($mobile) {
    margin-left: 0;
    min-width: 100%;
    justify-content: center;
    border-top: 1px solid $color-primary-100;
  }

  a {
    display: block;

    @include breakpoint($mobile) {
      padding: 10px;
    }

    &:hover {
      i {
        transform: scale3d(1.1, 1.1, 0.2);
      }
    }
  }

  i {
    color: $color-primary-200;
    font-size: $font-size-base + 6;

    @include breakpoint($mobile) {
      color: $color-primary-100;
    }
  }

  li {
    margin-left: 30px;

    @include breakpoint($mobile) {
      margin: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.logo {
  display: block;

  @include breakpoint($desktop-lg) {
    max-width: 185px;
  }

  @include breakpoint($tablet) {
    max-width: 185px;
  }

  img {
    display: flex;
  }
}

.show-menu {
  @include breakpoint($mobile) {
    right: 0;
  }
}

.btn-menu {
  display: none;
  position: absolute;
  top: 6px;
  right: 0;
  height: 22px;
  width: 32px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  transform: rotate(180deg);
  background: $transparent;
  border: none;

  @include breakpoint($mobile) {
    display: block;
  }

  span {
    background: $color-secondary-500;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    transform: translate(0, -50%);
    top: 50%;
    width: 100%;
  }

  .bottom {
    top: auto;
    bottom: 0;
    left: 3px;
    width: 80%;
  }

  .top {
    bottom: 0;
    width: 80%;
    left: 3px;
  }

  &.active {
    background: transparent;

    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0;
      width: 100%;
      background: $color-primary-100;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
      width: 100%;
      background: $color-primary-100;
    }
  }
}








