@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1265px; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #f8f8f8;
  font-size: 20px;
  line-height: 24px;
  font-family: "NotoSans-Regular", sans-serif;
  font-weight: 400;
  min-width: 320px;
  color: #000; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: top; }

a {
  color: #000;
  text-decoration: none; }

button {
  cursor: pointer; }

:focus {
  box-shadow: none !important; }

img {
  width: 100%;
  height: auto; }

input {
  outline: none; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden;
  position: relative; }

h1 {
  color: #f8f8f8; }

h2 {
  color: #aeaeae;
  text-transform: uppercase;
  font-weight: 700; }

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("../../font/noto-sans/NotoSans-Bold.woff") format("woff"), url("../../font/noto-sans/NotoSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NotoSans-SemiBold';
  src: url("../../font/noto-sans/NotoSans-SemiBold.woff") format("woff"), url("../../font/noto-sans/NotoSans-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NotoSans-Light';
  src: url("../../font/noto-sans/NotoSans-Light.woff") format("woff"), url("../../font/noto-sans/NotoSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NotoSans-Medium';
  src: url("../../font/noto-sans/NotoSans-Medium.woff") format("woff"), url("../../font/noto-sans/NotoSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../../font/noto-sans/NotoSans-Regular.woff") format("woff"), url("../../font/noto-sans/NotoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

thead {
  color: #df4e3c; }

tr {
  border-bottom: 1px solid #bdbdbd; }

th,
td {
  padding: 30px 0;
  vertical-align: middle; }
  th:nth-child(1),
  td:nth-child(1) {
    width: 35%; }

h1 {
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 50px;
  line-height: 68px;
  font-weight: 700; }

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  line-height: 75px; }

h3 {
  font-family: "NotoSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600; }

h4 {
  font-family: "NotoSans-SemiBold", sans-serif;
  font-size: 25px;
  line-height: 35px;
  font-weight: 600; }

h5 {
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500; }

h6 {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400; }

.w-100 {
  width: 100%; }

.text-muted {
  color: #8d8d8d; }

.logo-md {
  max-width: 187px; }

.btn {
  font-size: 15px;
  line-height: 21px;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  color: #f8f8f8; }
  .btn:hover {
    background: transparent; }
  .btn:disabled {
    opacity: 0.4; }

.btn-dark {
  border: 2px solid #000;
  background: #000; }
  .btn-dark:hover {
    color: #000;
    background: #fff;
    border-color: #000; }
  .btn-dark:active, .btn-dark.nice-select.open {
    border: 2px solid #000;
    background: #000;
    color: #fff; }

.btn-danger {
  border: 2px solid #df4e3c;
  background: #df4e3c; }
  .btn-danger:hover {
    color: #df4e3c;
    background: #fff;
    border-color: #df4e3c; }
  .btn-danger:active, .btn-danger.nice-select.open {
    border: 2px solid #df4e3c;
    background: #df4e3c;
    color: #fff; }

.btn-outline-light {
  font-family: "NotoSans-SemiBold", sans-serif;
  font-weight: 500;
  border: 2px solid #f8f8f8;
  background: transparent; }
  .btn-outline-light:hover {
    border: 2px solid #f8f8f8;
    background: #f8f8f8;
    color: #000; }
  .btn-outline-light:active, .btn-outline-light.nice-select.open {
    border: 2px solid #f8f8f8;
    background: #000;
    color: #f8f8f8; }

.btn-light {
  border: 2px solid #f8f8f8;
  background: #f8f8f8;
  color: #000; }
  .btn-light:hover {
    border: 2px solid #f8f8f8;
    background: #000;
    color: #f8f8f8; }
  .btn-light:active, .btn-light.nice-select.open {
    border: 2px solid #f8f8f8;
    background: #f8f8f8;
    color: #000; }

.btn-md {
  font-size: 20px;
  line-height: 27px;
  padding: 12px; }

.btn-lg {
  padding: 15px; }

.bg-dark {
  background-color: #000 !important; }

.checkbox-custom {
  opacity: 0;
  position: absolute;
  cursor: pointer; }
  .checkbox-custom + .checkbox-custom-label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    background: transparent;
    border: 2px solid #8d8d8d;
    width: 20px;
    height: 20px;
    border-radius: 5px; }
  .checkbox-custom + .checkbox-custom-label:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 5px;
    width: 11px;
    height: 7px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-50deg);
    display: none; }
  .checkbox-custom:checked + .checkbox-custom-label {
    color: #df4e3c; }
    .checkbox-custom:checked + .checkbox-custom-label:before {
      background: #df4e3c;
      border: 2px solid #df4e3c; }
    .checkbox-custom:checked + .checkbox-custom-label:after {
      display: block; }
  .checkbox-custom:disabled + .checkbox-custom-label {
    color: #959595;
    cursor: default; }
    .checkbox-custom:disabled + .checkbox-custom-label:after {
      display: block; }
    .checkbox-custom:disabled + .checkbox-custom-label:before {
      background: #8d8d8d;
      border: 2px solid #8d8d8d; }

.checkbox-custom-label {
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  color: #8d8d8d;
  position: relative;
  padding-left: 32px; }

.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: normal;
  height: 48px;
  outline: none;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  max-width: 170px;
  width: 100%;
  padding: 0 17px; }
  .nice-select:after {
    content: '';
    display: block;
    position: absolute;
    right: 14px;
    top: 21px;
    width: 13px;
    height: 8px;
    background-image: url("../images/pointer-select.svg"); }
  .nice-select.open {
    border-color: #c4c4c4; }
    .nice-select.open:after {
      display: none; }
    .nice-select.open .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0); }
  .nice-select .list {
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    border: 1px solid #c4c4c4;
    border-top: none;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-42px/2);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-size: 13px;
    list-style: none;
    outline: none;
    padding: 3px 17px;
    text-align: left;
    transition: all 0.2s; }
    .nice-select .option:hover {
      color: #df4e3c; }
    .nice-select .option.selected {
      font-family: "NotoSans-SemiBold", sans-serif;
      font-weight: 600;
      font-size: 15px; }
      .nice-select .option.selected:hover {
        color: #000;
        cursor: default; }
    .nice-select .option.disabled {
      background-color: transparent;
      cursor: default; }

.nice-select.open {
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  background-color: #fff; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }

.current {
  font-size: 15px;
  line-height: 21px; }

.sorting-select {
  border: none;
  max-width: 190px;
  padding: 10px; }
  .sorting-select:after {
    display: none; }
  .sorting-select .current {
    font-size: 12px;
    line-height: 17px;
    color: #8d8d8d;
    background: transparent; }
    .sorting-select .current:hover {
      color: #df4e3c; }
  .sorting-select .list {
    border: none;
    border-radius: 15px;
    background: #fff; }
  .sorting-select .option {
    font-size: 12px;
    line-height: 17px;
    padding: 5px 10px; }
    .sorting-select .option.selected {
      font-size: 12px;
      line-height: 17px;
      font-family: "NotoSans-Regular", sans-serif;
      font-weight: 400; }

.sorting-area {
  display: flex;
  align-items: center;
  min-width: 260px; }
  .sorting-area label {
    font-size: 12px;
    line-height: 17px;
    margin-right: 15px; }

.icon-wrap {
  display: flex;
  align-items: center; }

.icon-area:first-child {
  margin-top: -10px; }

.icon-area i {
  font-size: 8px;
  color: #8d8d8d; }

.icon-area .ascending {
  color: #df4e3c; }

.form-control {
  border-radius: 15px;
  border: 1px solid #bdbdbd; }
  .form-control::placeholder {
    font-size: 15px;
    color: #8d8d8d; }
  .form-control:focus {
    border: 1px solid #8d8d8d; }

.invalid-feedback {
  font-size: 10px;
  line-height: 26px;
  padding-left: 16px; }

.form-control.is-valid {
  border-color: #507a36;
  background-image: url("../images/check-icon.svg"); }

.form-control.is-invalid {
  border-color: #df4e3c;
  background-image: url("../images/close-icon.svg"); }

.accordion {
  max-width: 820px;
  margin: 0 auto; }

.accordion-button {
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 15px;
  line-height: 21px;
  background-color: #f8f8f8;
  padding: 17px 23px 20px;
  border-bottom: 1px solid #c4c4c4; }
  .accordion-button:not(.collapsed) {
    box-shadow: none;
    background-color: #fff;
    color: #df4e3c;
    padding: 26px 37px 21px;
    border: none; }
    .accordion-button:not(.collapsed):after {
      background-image: url("../images/minus.svg"); }
  .accordion-button:after {
    background-image: url("../images/plus.svg"); }
  .accordion-button:focus {
    border-color: #c4c4c4; }

.accordion-item {
  border: none; }
  .accordion-item .show {
    background: #fff; }

.accordion-body {
  font-size: 13px;
  line-height: 21px;
  padding: 0 50px 10px 40px; }
  .accordion-body p {
    margin-bottom: 6px; }

.header {
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0; }

.logo {
  display: block; }
  .logo img {
    display: flex; }

.navbar {
  padding: 0;
  min-width: 100%; }

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  flex-grow: initial;
  max-width: 1000px;
  width: 100%; }

.navbar-nav {
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%; }

.nav-link {
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #f8f8f8 !important;
  padding: 5px 10px; }
  .nav-link:hover {
    color: #fff !important; }

.navbar-icons {
  display: flex;
  align-items: center; }
  .navbar-icons a {
    display: block; }
  .navbar-icons i {
    color: #f8f8f8; }

.card {
  max-width: 295px;
  width: 100%;
  box-shadow: 0 0 18px rgba(68, 68, 68, 0.09);
  border-radius: 0;
  background: #fff;
  border: none; }

.card-body {
  padding: 21px 21px 5px; }

.card-text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px; }

.card-link {
  font-family: "NotoSans-Regular", sans-serif;
  line-height: 24px;
  color: #000; }
  .card-link:hover {
    text-decoration: underline;
    color: #000; }

.list-group {
  display: flex;
  flex-direction: row;
  padding: 10px 13px; }

.card > .list-group {
  border: none; }

.list-group-flush > .list-group-item {
  border-width: 0 1px 0; }

.list-group-item {
  font-family: "NotoSans-Light", sans-serif;
  font-size: 14px;
  line-height: 19px;
  padding: 0 8px; }
  .list-group-item:first-child {
    border-width: 0; }
  .list-group-item:last-child {
    border-width: 0; }

.card-price {
  font-family: "NotoSans-Medium", sans-serif;
  font-weight: 500;
  line-height: 27px; }

.card-footer {
  background: #fff;
  padding: 15px 21px 35px; }

.banner {
  display: flex;
  align-items: center;
  background-image: url("../images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 90px 0;
  margin-bottom: 50px; }

.banner-content > h1 {
  margin-bottom: 32px; }

.text {
  font-size: 15px;
  line-height: 21px;
  color: #f8f8f8; }

.row-content {
  margin-bottom: 70px; }

.current-wrap > h2 {
  margin-bottom: 75px; }

.filter-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; }

.filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .filter-list li {
    width: 100%; }

.btn-holder {
  max-width: 290px;
  width: 100%; }

.catalog {
  margin-bottom: 120px; }

.row-checked-wrap {
  margin-bottom: 6px; }

.badge {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 15px 15px 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding: 4px 20px;
  font-weight: 400; }

.application-wrap {
  padding: 43px 0;
  margin-bottom: 120px; }

.application-area {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.application-text {
  color: #f8f8f8; }
  .application-text h4 {
    margin-bottom: 18px; }
  .application-text p {
    font-size: 15px;
    line-height: 21px; }

.application-form {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .application-form .btn-holder {
    max-width: 190px; }
  .application-form form {
    max-width: 505px;
    width: 100%; }
  .application-form input {
    height: 55px;
    background: transparent; }

.faq {
  margin-bottom: 200px; }
  .faq > h2 {
    margin-bottom: 63px; }

.footer {
  padding: 40px 0; }
