@import "../utils/variables";
@import "../utils/mixin";

.accordion {
  max-width: 820px;
  margin: 0 auto;
}

.accordion-button {
  font-family: $font-family-noto-medium;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $color-primary-200;
  padding: 22px 33px 22px 25px;
  border-bottom: 1px solid $color-secondary-400;

  @include breakpoint($mobile) {
    padding: 12px 5px;
  }

  &:not(.collapsed) {
    box-shadow: none;
    background-color: $color-secondary-500;
    color: $color-primary-300;
    padding: 26px 47px 23px 40px;
    border: none;

    @include breakpoint($mobile) {
      padding: 12px 5px;
    }

    &:after {
      background-image: url("../images/minus.svg");
    }
  }

  &:after {
    background-image: url("../images/plus.svg");
    background-size: 12px;
    width: 13px;
    height: 13px;
  }

  &:focus {
    border-color: $color-secondary-400;
  }
}

.accordion-item {
  border: none;

  .show {
    background: $color-secondary-500;
  }
}

.accordion-body {
  font-size: $font-size-base - 2;
  line-height: $line-height-base - 1;
  padding: 0 50px 14px 40px;
  margin-bottom: 3px;

  @include breakpoint($mobile) {
    padding: 0 10px 10px 10px;
  }

  p {
    margin-bottom: 6px;
  }
}



