@import "../utils/variables";
@import "../utils/mixin";

.btn {
  font-size: $font-size-base;
  line-height: $line-height-base;
  border-radius: 15px;
  padding: 11px;
  width: 100%;
  color: $color-primary-200;

  @include breakpoint($mobile) {
    padding: 5px;
    font-size: $font-size-base - 1;
    letter-spacing: 1px;
  }

  &:hover {
    background: $transparent;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.btn-dark {
  border: 2px solid $color-primary-100;
  background: $color-primary-100;

  &:hover {
    color: $color-primary-100;
    background: $color-secondary-500;
    border-color: $color-primary-100;
  }

  &:active {
    border: 2px solid $color-primary-100;
    background: $color-primary-100;
    color: $color-secondary-500;
  }
}

.btn-danger {
  border: 2px solid $color-primary-300;
  background: $color-primary-300;

  &:hover {
    color: $color-primary-300;
    background: $color-secondary-500;
    border-color: $color-primary-300;
  }

  &:active {
    border: 2px solid $color-primary-300;
    background: $color-primary-300;
    color: $color-secondary-500;
  }
}

.btn-outline-light {
  font-family: $font-family-noto-semi;
  font-weight: $font-weight-500;
  border: 2px solid $color-primary-200;
  background: $transparent;

  &:hover {
    border: 2px solid $color-primary-200;
    background: $color-primary-200;
    color: $color-primary-100;
  }

  &:active {
    border: 2px solid $color-primary-200;
    background: $color-primary-100;
    color: $color-primary-200;
  }
}

.btn-light {
  border: 2px solid $color-primary-200;
  background: $color-primary-200;
  color: $color-primary-100;

  &:hover {
    border: 2px solid $color-primary-200;
    background: $color-primary-100;
    color: $color-primary-200;
  }

  &:active {
    border: 2px solid $color-primary-200;
    background: $color-primary-200;
    color: $color-primary-100;
  }
}

.btn-md {
  font-size: $font-size-base + 5;
  line-height: $line-height-base + 6;
  padding: 12px;

  @include breakpoint($mobile) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base - 1;
    padding: 8px;
  }
}

.btn-lg {
  padding: 15px;
}

.bg-dark {
  background-color: $color-primary-100 !important;
}

.btn-filter {
  display: none;

  @include breakpoint($mobile) {
    display: block;
    margin-bottom: 10px;
  }
}




