@import "../utils/variables";
@import "../utils/mixin";

.form-control {
  border-radius: 15px;
  border: 1px solid $color-secondary-300;
  line-height: $line-height-base - 6;
  height: 48px;

  &::placeholder {
    color: $color-secondary-200;
  }

  &:focus {
    border: 1px solid $color-secondary-200;
  }
}

.invalid-feedback {
  font-size: $font-size-base - 5;
  line-height: $line-height-base + 5;
  padding-left: 16px;
}

.form-control {
  &.is-valid {
    border-color: $color-secondary-700;
    background-image: url("../images/check-icon.svg");
  }
}

.form-control {
  &.is-invalid {
    border-color: $color-primary-300;
    background-image: url("../images/close-icon.svg");
  }
}


